include curry/d/templates/d/*
include curry/d/templates/d/app_template/*
include curry/d/templates/d/app_template/templates/app_name/*
include curry/d/templates/d/app_template/templatetags/*
include curry/d/templates/d/management/*
include curry/d/templates/d/management/commands/*
